div.inicio {
  text-align: center;
  align-items: center;
  margin-top: 100px;
}

.App-logo {
  animation: esperar 4s;
  height: 350px;
}

.App-title {
  animation: esperar 4s;
  font-size: 3em;
}


@keyframes esperar {
  from { opacity: 0;}
  to { opacity: 1; }
}
